<div class="row">
    <div class="col-md-12 content">
      <h3>
          Group Name
          <span class="newgroup"><a href="">+ New Topic</a></span>
                                   <!-- TODO ^^ link here to newtopic.ejs -->
      </h3>
        <ul class="nopad">
            <li>

                <%- include('leadertopic'); %>

            </li>

        </ul>
    </div>
</div>
