<a href="">Topic 1</a>
  <span><i><b>10/20</b> users have rated</i></span>
  <span><i>Comments: 3</i></span>

<div class="comments-wrapper">

  <div class="row nopad">
    <div class="col-md-12 comments nopad">
      <h4>Average Rating: 5</h4>
    </div>
  </div>


  <div class="row nopad">
    <div class="col-md-12 comments nopad">
      <ul class="comment-list nopad">

        <li>"This is a comment."
            <span>- user1</span></li>

        <li>"This is another comment."
            <span>- user2</span></li>

        <li>"I don't get it."
            <span>- user3</span></li>

        </ul>
    </div>
  </div>

</div>
