<div class="row">
    <div class="col-md-12 content">
      <h3>
          <%=group.title%>
          <span class="newgroup"><a href="">+ New Topic</a></span>
                                   <!-- TODO ^^ link here to newtopic.ejs -->
      </h3>
        <ul class="nopad">
            <li>
                <%group.topics.forEach(function(topic){%>
                  <%- include('leadertopic', {userInfo: userInfo, topic: topic}); %>
                <%})%>


            </li>

        </ul>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="submit">Delete Topic</button>
            <!-- TODO ^^ delete the topic -->
          </div>
        </div>

    </div>



</div>
