<div class="row">
    <div class="col-md-12 content">
      <h3>
          <%=group.title%>
          <span class="newgroup mobiletopic"><a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic">+ New Topic</a></span>
      </h3>
        <ul class="nopad">
            <li>
                <%group.topics.forEach(function(topic){%>
                  <%- include('leadertopic', {userInfo: userInfo, topic: topic}); %>
                <%})%>


            </li>

        </ul>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <button class="submit delete">Delete Group</button>
            </div>
            <!-- TODO ^^ delete the group -->
            <div class="col-md-6">
              <button class="submit edit">Edit Group</button>
              <!-- TODO ^^ edit the group -->
            </div>
          </div>
        </div>

<!-- BELOW WILL ONLY DISPLAY ON A MOBILE PHONE -->


        <div class="row mobileonly">

              <button class="submit topic">+ New Topic</button>

        </div>

        <!-- <div class="row mobileonly nopad">
            <div class="col-md-3 nopad"></div>
              <div class="col-md-6 nopad">
                <button class="submit topic">+ New Topic</button>
            </div>
        </div> -->

<!-- ABOVE WILL ONLY DISPLAY ON A MOBILE PHONE -->

    </div>



</div>
