<a href=""><%=topic.title%></a>
    <!-- TODO ^^ link here to take user to leader topic view page-->
  <span><i><b><%=topic.ratings.length%></b> user(s) have rated</i></span>
  <span><i>Comments: <%=topic.commentCount%></i></span>

<div class="comments-wrapper">

  <div class="row nopad">
    <div class="col-md-12 comments nopad">
      <h4>Average Rating: <%=topic.ratingAverage%></h4>
    </div>
  </div>


  <!-- <div class="row nopad">
    <div class="col-md-12 comments nopad">

      <a href=""> -->
        <!-- TODO ^^ link here to take user to leader topic view page-->
        <!-- <ul class="comment-list nopad">

          <li>"This is a comment."
              <span>- user1</span></li>

          <li>"This is another comment."
              <span>- user2</span></li>

          <li>"I don't get it."
              <span>- user3</span></li>

          </ul>

        </a>

    </div>
  </div> -->

</div>
