<div class="names">
  <label>Name</label><br />
  <!-- ^^name of individual group member goes here -->

  <radiogroup>

    <input type="radio" id="nocheckbox" name="permissions">
  <label for="nocheckbox" class="pfont checks">None</label><br />

    <input type="radio" id="ucheckbox" name="permissions">
  <label for="ucheckbox" class="pfont checks">User</label><br />

    <input type="radio" id="lcheckbox" name="permissions">
  <label for="lcheckbox" class="pfont checks">Leader</label>

</radiogroup>


</div>
