  <div class="comments-wrapper">

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form>
          <label class="pfont">Group Name</label><br />
          <input typ="text" class="fullsize">

          <label class="pfont">Description</label><br />
          <input typ="text" class="fullsize">

          <div class="names" id="allow">
            <label class="pfont">Who can add and remove topics in this group?</label><br />
            <!-- ^^name of individual group member goes here -->

              <radiogroup>

                <input type="radio" id="nocheckbox" name="permissions" value="" checked="checked">
                <label for="nocheckbox" class="pfont checks">Leaders</label><br />

                <input type="radio" id="ucheckbox" name="permissions">
                <label for="ucheckbox" class="pfont checks">Users</label><br />

            </radiogroup>


          </div>


        </form>
      </div>
    </div>


    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form>
          <label>
            Select Your Group
            <h5>Select the permissions for your group members:<br />
              <b><i>None</i></b>  (they are not part of your group)<br />
              <b><i>User</i></b>  (user accessibilities)<br />
              <b><i>Leader</i></b>  (give them admin permissions)</h5>
          </label><br />

          <%- include('nameboxes'); %>
          <%- include('nameboxes'); %>
          <%- include('nameboxes'); %>
          <%- include('nameboxes'); %>

        </form>
      </div>
    </div>

  </div>

  <div class="row nopad">
    <div class="col-md-4"></div>
    <div class="col-md-4 nopad">
      <button class="submit nopad">Create</button>
      <!-- TODO ^^ validate the form -->
    </div>
  </div>
