<div class="row">
  <div class="col-md-12 content">
    <h3>Rate this Topic: <%=topicTitle%></h3>
     <!-- TODO ^^ replace [topic name] with Actual Topic Name -->
    <ul class="nopad">
      <li>

        <%- include('newrateform'); %>

      </li>

    </ul>
  </div>
</div>
