  <div class="comments-wrapper">

    <div class="row nopad">

        <div class="col-md-12 comments nopad">
          <p><%=topicDescription%></p>
        </div>

    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">

        <div class="names">

          <radiogroup>

            <label for="nocheckbox" class="pfont">
              <input type="radio" id="nocheckbox" name="rating" value="" checked="checked">Unrated
            </label>

        </radiogroup>

      </div><br />

      <div id="rate">
        <p id="select">Select the number that corresponds to your understanding of this topic:<br class="notmobile"/>
           <b>0</b> is the lowest, <b>10</b> is the highest level of understanding.</p>
        <radiogroup>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="0"><br class="notmobile"/> 0
              <!-- <p>0</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="1"><br class="notmobile"/> 1
              <!-- <p>1</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="2"><br class="notmobile"/> 2
              <!-- <p>2</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="3"><br class="notmobile"/> 3
              <!-- <p>3</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="4"><br class="notmobile"/> 4
              <!-- <p>4</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="5"><br class="notmobile"/> 5
              <!-- <p>5</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="6"><br class="notmobile"/> 6
              <!-- <p>6</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="7"><br class="notmobile"/> 7
              <!-- <p>7</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="8"><br class="notmobile"/> 8
              <!-- <p>8</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="9"><br class="notmobile"/> 9
              <!-- <p>9</p> -->
            </label>
          </div>

          <div class="col-md-1">
            <label>
              <input type="radio" class="nums" name="rating" value="10"><br class="notmobile"/> 10
              <!-- <p>10</p> -->
            </label>
          </div>

        </radiogroup>

      </div>
    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form>
          <label class="commentmobile">Comment</label><br />
          <input type="text" value="(Optional)" class="commentmobile">
          <p id="alert"><b><i>** Your name will be visible to your Group Leaders only if you leave a comment **</i></b></p>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="row nopad">
  <div class="col-md-4 nopad"></div>
  <div class="col-md-4 nopad">
    <button class="submit deletetopic nopad">Update</button>
    <!-- TODO ^^ update the topic -->
  </div>
</div>
