  <div class="comments-wrapper">

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form method = 'post' action = '/users/<%=username%>/groups/<%=groupId%>/newtopic'>
          <label class="pfont">Topic Title</label><br />
          <input type="text" class="fullsize" name = 'title'>

          <label class="pfont">Description</label><br />
          <input type="text" class="fullsize" name = 'description'>



      </div>
    </div>

  </div>

  <div class="row nopad">
    <div class="col-md-4"></div>
    <div class="col-md-4 nopad">
      <button type = "submit" class="submit nopad">Create</button>
      </form>
      <!-- TODO ^^ validate the form -->
    </div>
  </div>
