  <div class="comments-wrapper">

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form>
          <label class="pfont">Topic Title</label><br />
          <input typ="text" class="fullsize">

          <label class="pfont">Description</label><br />
          <input typ="text" class="fullsize">


        </form>
      </div>
    </div>
    
  </div>

  <div class="row nopad">
    <div class="col-md-4"></div>
    <div class="col-md-4 nopad">
      <button class="submit nopad">Create</button>
      <!-- TODO ^^ validate the form -->
    </div>
  </div>
