<div class="row">
  <div class="col-md-12 content">
    <h3 id="newgroupheader">New Topic for <%=newData.groupTitle%></h3>
    <ul class="nopad">
      <li>

        <%- include('newtopicform'); %>

      </li>

    </ul>
  </div>
</div>
