<div class="row">
    <div class="col-md-12 content">
      <h3 id="nogroups">
          No groups yet!
      </h3>

      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button class="nogroups">Would you like to create one?</button>
      </div>



    </div>



</div>
