<div class="row">
    <div class="col-md-12 content">
      <h3>
          No groups yet!
      </h3>

        <button class="submit">Would you like to create one?</button>

        

    </div>



</div>
