  <div class="comments-wrapper">

    <div class="row nopad">

        <div class="col-md-12 comments nopad">
          <h4>Overall Rating: 8</h4>
          <!-- TODO^^ populate with average rating for this particular topic -->
          <h3 id="total"><b>Total number of Users who have rated this topic: <span>10</span></b><br /></h3>
          <p>This is a description of this particular group. It is a lovely group. Believe in your dreams. Don't do drugs. Send your mother some flowers. She deserves it. This is some more descriptive text. Isn't it lovely? I'm like Hemingway with my beautiful words of awesomeness.</p>
          <!-- TODO ^^ insert actual description of topic here -->

        </div>

    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">

        <h4>User Comments</h4>

          <div class="row nopad">
            <div class="col-md-12 comments nopad">

                <ul class="comment-list nopad">
                  <!-- TODO populate with actual comments -->

                  <li>"This is a comment."
                      <span>- user1</span></li>

                  <li>"This is another comment."
                      <span>- user2</span></li>

                  <li>"I don't get it."
                      <span>- user3</span></li>

                  </ul>

            </div>
          </div>
        </div>

  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="submit">Back to Home</button>
    <!-- TODO ^^ validate the form -->
  </div>
</div>
