<a href="">Topic 1</a>
  <span><i>Your rating: <b>5</b></i></span>
  <span><i><a href="">Rate this topic</a></i></span>

  <div class="comments-wrapper">

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <p>This is a description of this particular group. It is a lovely group. Believe in your dreams. Don't do drugs. Send your mother some flowers. She deserves it. This is some more descriptive text. Isn't it lovely? I'm like Hemingway with my beautiful words of awesomeness.</p>
      </div>
    </div>


    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <form>
          <label>Comment</label><br />
          <input type="text">
          <button class="submit">Submit</button><br />
          <p id="alert"><b><i>** Your name will be visible to your Group Leader **</i></b></p>
        </form>
      </div>
    </div>

  </div>
