<a href="">Topic 1</a>
    <!-- TODO ^^ link here to take user to user topic view page aka rate.ejs-->
  <span><i>Your rating: <b>5</b></i></span>
  <span><i><a href="">Rate this topic</a></i></span>

  <div class="comments-wrapper">

    <div class="row nopad">
      <a href="">
          <!-- TODO ^^ link here to take user to user topic view page aka rate.ejs-->
        <div class="col-md-12 comments nopad">
          <p>This is a description of this particular group. It is a lovely group. Believe in your dreams. Don't do drugs. Send your mother some flowers. She deserves it. This is some more descriptive text. Isn't it lovely? I'm like Hemingway with my beautiful words of awesomeness.</p>
        </div>
      </a>
    </div>




  </div>
