<div class="row">
  <div class="col-md-12 content">
    <h3>Group Name</h3>

      <ul class="nopad">
        <li>
           <%- include('usertopic'); %>

         </li>

       </ul>

  </div>
</div>
