<!DOCTYPE html>
<html>

<head>
    <meta name="google-site-verification" content="0YVooz54cSsYj019sMPYFfrIYMf6fkFJO3cuBbvpHR0" />
    <meta name="google-signin-client_id" content="239915542940-nqg4llnk3ghpa70qudala8fepofgef5o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8">
    <title>Grokkit: New Topic</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans+Condensed+Light+300|BenchNine">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <header>

      <div class="username">
        <h2>
          <span><%=displayName%></span>
          <img src="<%=userImage%>" class="circle-img">
          <p><a href="/users/logout">Logout</a></p>
            <!-- TODO^^need to logout the user -->
        </h2>

      </div>
    </header>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <a href="/users/<%=username%>"><img src="/images/grokkit_logo.png" class="headerlogo nopad"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 wrapper">

        <%- include('partials/newtopicdiv'); %>

      </div>

    </div>

    <footer>© 2016 Undercats</footer>

</body>
</html>
