body {
  background-color: rgb(45, 45, 43);
}

.mobileonly {
  display:none;
}

.logo {
  margin-top: 4em;
  height: 35em;
  text-align: center;
}

.mobilebreak {
  display: none;
}

h1 {
  color: rgb(232, 232, 216);
  text-align: center;
  font-size: 15em;
  margin-top: 0.5em;
  font-family: 'Bangers', fantasy;
}

.newgroup {
  text-align: right;
  margin-bottom: -0.5em;
  font-size: 2em;
  font-family: 'Bangers', fantasy;
}

p {
  color: rgb(131, 168, 207);
  text-align: center;
  font-family: 'BenchNine', sans-serif;
  font-size: 2.5em;
}

.nopad {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.login, .create {
  color: rgb(232, 232, 216);
  font-family: 'Bangers', fantasy;
  font-size: 3em;
  background-color: rgb(134, 38, 23);
  border-style: none;
  border-radius: 2em;
  margin-top: 2em;
  width: 100%;
  height: 2em;
}

.login, .create:focus {
  outline: none;
}

button:hover {
  border: 3px solid rgb(232, 232, 216);
  transform: scale(1.1);
}

footer {
  text-align: center;
  margin-top: 5em;
  padding-right: 2em;
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  height: 1em;
  color: rgb(205, 200, 188);
  font-family: 'BenchNine', sans-serif;
}

.headerlogo {
  width: 50%;
  margin-top: 4em;
  padding-left: 2em;
  margin-left: 2em;
}

h2 {
  color: rgb(131, 168, 207);
  font-size: 3em;
  margin-top: 1em;
  margin-right: 1em;
  font-family: 'Bangers', fantasy;
}

.circle-img {
  margin-left: 0.5em;
  background-color: white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  clear:both;
}

.username {
  float: right;
}

.content {
  margin-top: 2em;
  background-color: rgb(134, 38, 23);
  border-radius: 1em;
  margin-bottom: 3em;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

h3 {
  color: rgb(205, 200, 188);
  font-family: 'Bangers', fantasy;
  font-size: 2.5em;
}

a {
  color: rgb(205, 200, 188);
}

a:hover {
  color:white;
  text-decoration: none;
}

.nopad li {
  margin-left: 1em;
  margin-right: 1em;
}

li {
  color: rgb(205, 200, 188);
  list-style-type: none;
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options li {
  margin-top: 1em;
  float: left;
}

h2 p {
  font-size: 0.5em;
  text-align: right;
}

span {
  color: rgb(131, 168, 207);
  padding-left: 5em;
  font-size: .75em;
}

.comments {
  margin-top: 0.5em;
  background-color: rgb(205, 200, 188);
  border-radius: 0.5em;
}

.comment-list {
  font-size: 0.4em;
}

.comments h4 {
  margin-top: 1em;
}

.comment-list li {
  border-radius: 0.25em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 43);
}

.comment-list span {
  color: rgb(45, 45, 43);
  padding-left: 1em;
}

.comments h4 {
  font-family: 'Bangers', fantasy;
  font-size: 1em;
  margin-left: 1em;
  color: rgb(134, 38, 23)
}

.comments-wrapper {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.comments p {
  font-size: 0.7em;
  color: rgb(45, 45, 43);
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  margin-left: 1em;
}

label {
  margin-top: 0.25em;
  font-family: 'Bangers', fantasy;
  font-size: 1em;
  margin-left: 1em;
  color: rgb(134, 38, 23);
}

input {
  border-radius: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 80%;
}

.submit {
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
  color: rgb(131, 168, 207);
  border-radius: 0.25em;
  margin-bottom: 1em;
  /*margin-left: 1em;*/
  background-color: rgb(45, 45, 43);
  width: 100%;
  border:none;
}

#alert {
  margin-top: -1em;
  color: rgb(134, 38, 23);
  margin-left: 1em;
}

.fullsize {
  width: 93%;
}

.pfont {
  display: inline;
  font-family: 'BenchNine', sans-serif;
}

#nocheckbox {
  width: 5%;
}

#ucheckbox {
  width: 5%;
}

h5 {
  font-family: 'BenchNine', sans-serif;
  font-size: 1em;
}

.checks {
  margin-right: 2em;
}

.names {
  margin-top: 0.5em;
  width: 93%;
  border-radius: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.names label {
  margin-left: 0.5em;
}

.names input {
  font-size: 2em;
  width: 10%;
  height: 0.5em;
}

.unrated {
  font-size: 2em;
  width: 30%;
  height: 0.5em;
}

#users {
  background-color: rgb(255, 255, 255);
  padding-bottom: 0.5em;
}

#users input {
  width: 10%;
  margin-right:-0.4em;
}

.nums {
  font-size: 2em;
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
}

#rate {
  margin-left: 0.5em;
  width: 100%;
}

#select {
  font-size: 1em;
  margin-left: 0.5em;
}

span.newgroup {
  font-size: 0.8em;
  float: right;
  font-family: 'BenchNine', sans-serif;
}

#allow {
  width: 93%;
  background-color: rgb(255, 255, 255);
}

#total {
  font-family: 'BenchNine', sans-serif;
  color: rgb(134, 38, 23);
  margin-left: 1em;
  font-size: 1em;
}

#total span {
  font-size: 1.25em;
  padding-left: 0.5em;
  color: rgb(134, 38, 23);
  font-family: 'Bangers', fantasy;
}

.leadertopic {
  padding-bottom: 0.25em;
}

.leadertopic a{
  font-family: 'Bangers', fantasy;
  color: rgb(134, 38, 23);
}

.leadertopic span {
  padding: 1.25em;
  color: rgb(39, 85, 115);
}

.leadertopic h4 {
  font-family: 'BenchNine', sans-serif;
  margin-top: 0.5em;
}

.usertopic a {
  color: rgb(39, 85, 115);
  font-family: 'BenchNine', sans-serif;
}

#ratetitle {
  font-family: 'Bangers', fantasy;
  color: rgb(134, 38, 23);
}

.yourrating {
  color: rgb(39, 85, 115);
  padding: 1.25em;
  font-family: 'BenchNine', sans-serif;
}

.titlecontainer {
  padding-left: 1em;
}

.titleclass {
  color: rgb(134, 38, 23);
  font-size: 1em;
  margin-bottom:0;
}

.delete {
  width: 48%;
  float: right;
}

.edit {
  float: left;
  width: 48%;
}

.nogroups {
  background-color: rgb(45, 45, 43);
  color: rgb(131, 168, 207);
  border: none;
  font-size: 2em;
  border-radius: 1em;
  font-family: 'BenchNine', sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  margin-bottom: 1em;
}

#nogroups {
  text-align: center;
}

.titlecontainer a {
  padding-left: 0;
}

.deletetopic {
  margin: 0;
  margin-bottom: 0.5em;
}

.userrate {
  font-family: 'BenchNine', sans-serif;
}

/*iPhone 6 styling*/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .headerlogo {
    margin-left: 16em;
    padding-right: 0;
  }

  .username p {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .username span {
    font-size: 1.5em;
  }

  .circle-img {
    width: 2em;
    height: 2em;
  }

  .row {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

/*nogroups page*/
  .content {
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
  }

  #nogroups {
    font-size: 7em;
    padding-top: 0.5em;
  }

  .nogroups {
    margin-top: 0.5em;
    font-size: 5em;
  }

/*loggedin page*/
  .newgroup {
    margin-right: 2em;
    margin-bottom: -1em;
  }

  .content span {
    text-align: left;
    padding-bottom: 1em;
  }

  .content h3 {
    padding-top: 0.5em;
    padding-left: 0.5em;
  }

  .newgroup a {
    font-size: 2em;
    text-align: left;
  }

  .mobilebreak {
    display: block;
  }

  .titlecontainer {
    padding-left:0;
  }

  .titlecontainer p {
    margin-left: 0.5em;
    padding-left: 0;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
  }

  .edit {
    margin-right: 0.4em;
    width: 44%;
    font-size: 3em;
    float: right;
  }

  .delete {
    margin-left: 0.5em;
    width: 44%;
    float: left;
    font-size: 3em;
  }

  .mobiletopic {
    display: none;
  }

  .mobileonly {
    display: inline;
  }

  .topic {
    padding:0;
    margin-left:3.5em;
    width: 70%;
    font-size: 3em;
    background-color: rgb(131, 168, 207);
    color: rgb(45, 45, 43);
    border: 3px solid rgb(45, 45, 43);
    font-family: 'Bangers', fantasy;
  }

/*newgroup page*/
  #newgroupheader {
    font-size: 4em;
    padding-top:0.5em;
  }

  .pfont {
    font-size: 1.75em;
  }

  .fullsize {
    width: 88%;
  }

  #allow {
    margin-left:1em;
    width: 88%;
  }

  #nocheckbox {
    width: 10%;
  }

  #ucheckbox {
    width: 10%;
  }

  #selectmobile {
    font-size: 2em;
  }

  #selectmobile h5 {
    font-size:0.7em;
  }

  #users {
    margin-left:1em;
    width: 88%;
  }

  #users input {
    width: 20%;
  }

  .checks {
    display: block;
    width: 100%;
  }

/*rate page*/
  .comments p {
    margin-left: 0.5em;
    padding-bottom: 0.5em;
  }

  .commentmobile {
    font-size: 2em;
    margin-left: 0.5em;
  }

  .commentinput {
    margin-left: 0.7em;
    width: 93%;
    font-size: 1.5em;
  }

  input.commentmobile {
    width: 93%;
  }

  .names {
    margin-left: 0;
  }

  .notmobile {
    display: none;
  }

  .col-md-1 {
    font-size: 2em;
    margin-left: 4em;
  }

  #rate {
    padding-bottom: 1em;
  }

  #select {
    text-align: center;
    margin-left:0.2em;
    margin-right: 0.2em;
    padding-left:0;
  }

  #alert {
    text-align: center;
    margin-left:0;
    padding-left: 0;
    font-size: 0.4em;
    padding-bottom: 2em;
  }

/*viewtopic page*/

  .comments h4 {
    padding-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
    margin-top: 0;
  }

  #total {
    margin-left:0.5em;
  }
}
