body {
  background-color: rgb(45, 45, 43);
}

.logo {
  margin-top: 4em;
  height: 35em;
  text-align: center;
}

h1 {
  color: rgb(232, 232, 216);
  text-align: center;
  font-size: 15em;
  margin-top: 0.5em;
  font-family: 'Bangers', fantasy;
}

p {
  color: rgb(131, 168, 207);
  text-align: center;
  font-family: 'BenchNine', sans-serif;
  font-size: 2.5em;
}

.nopad {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

button {
  color: rgb(232, 232, 216);
  font-family: 'Bangers', fantasy;
  font-size: 3em;
  background-color: rgb(134, 38, 23);
  border-style: none;
  border-radius: 2em;
  margin-top: 2em;
  width: 100%;
  height: 2em;
}

button:focus {
  outline: none;
}

button:hover {
  border: 3px solid rgb(232, 232, 216);
  transform: scale(1.1);
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  height: 1em;
  color: rgb(205, 200, 188);
  font-family: 'BenchNine', sans-serif;
}

.headerlogo {
  margin-top: 2em;
  margin-left: 2em;
  height: 6em;
}

h2 {
  color: rgb(131, 168, 207);
  font-size: 3em;
  margin-top: 1em;
  margin-right: 1em;
  font-family: 'Bangers', fantasy;
}

.circle-img {
  margin-left: 0.5em;
  background-color: white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  clear:both;
}

.username {
  float: right;
}

.content {
  margin-top: 10em;
  background-color: rgb(134, 38, 23);
  border-radius: 1em;
}

h3 {
  color: rgb(205, 200, 188);
  font-family: 'Bangers', fantasy;
  font-size: 3em;
}

a {
  color: rgb(205, 200, 188);
}

a:hover {
  color:white;
  text-decoration: none;
}

li {
  color: rgb(205, 200, 188);
  list-style-type: none;
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options li {
  margin-top: 2em;
  float: left;
}

h2 p {
  font-size: 0.5em;
  text-align: right;

}
