body {
  background-color: rgb(45, 45, 43);
}

.logo {
  margin-top: 4em;
  height: 35em;
  text-align: center;
}

h1 {
  color: rgb(232, 232, 216);
  text-align: center;
  font-size: 15em;
  margin-top: 0.5em;
  font-family: 'Bangers', fantasy;
}

.newgroup {
  text-align: right;
  margin-bottom: -0.5em;
  font-size: 2em;
  font-family: 'Bangers', fantasy;
}

p {
  color: rgb(131, 168, 207);
  text-align: center;
  font-family: 'BenchNine', sans-serif;
  font-size: 2.5em;
}

.nopad {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.login, .create {
  color: rgb(232, 232, 216);
  font-family: 'Bangers', fantasy;
  font-size: 3em;
  background-color: rgb(134, 38, 23);
  border-style: none;
  border-radius: 2em;
  margin-top: 2em;
  width: 100%;
  height: 2em;
}

.login, .create:focus {
  outline: none;
}

button:hover {
  border: 3px solid rgb(232, 232, 216);
  transform: scale(1.1);
}

footer {
  text-align: center;
  margin-top: 5em;
  padding-right: 2em;
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  height: 1em;
  color: rgb(205, 200, 188);
  font-family: 'BenchNine', sans-serif;
}

.headerlogo {
  width: 50%;
  margin-top: 4em;
  padding-left: 2em;
  margin-left: 2em;
}

h2 {
  color: rgb(131, 168, 207);
  font-size: 3em;
  margin-top: 1em;
  margin-right: 1em;
  font-family: 'Bangers', fantasy;
}

.circle-img {
  margin-left: 0.5em;
  background-color: white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  clear:both;
}

.username {
  float: right;
}

.content {
  margin-top: 2em;
  background-color: rgb(134, 38, 23);
  border-radius: 1em;
  margin-bottom: 3em;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

h3 {
  color: rgb(205, 200, 188);
  font-family: 'Bangers', fantasy;
  font-size: 2.5em;
}

a {
  color: rgb(205, 200, 188);
}

a:hover {
  color:white;
  text-decoration: none;
}

.nopad li {
  margin-left: 1em;
  margin-right: 1em;
}

li {
  color: rgb(205, 200, 188);
  list-style-type: none;
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options li {
  margin-top: 1em;
  float: left;
}

h2 p {
  font-size: 0.5em;
  text-align: right;
}

span {
  color: rgb(131, 168, 207);
  padding-left: 5em;
  font-size: .75em;
}

.comments {
  margin-top: 0.5em;
  background-color: rgb(205, 200, 188);
  border-radius: 0.5em;
}

.comment-list {
  font-size: 0.4em;
}

.comments h4 {
  margin-top: 1em;
}

.comment-list li {
  border-radius: 0.25em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 43);
}

.comment-list span {
  color: rgb(45, 45, 43);
  padding-left: 1em;
}

.comments h4 {
  font-family: 'Bangers', fantasy;
  font-size: 1em;
  margin-left: 1em;
  color: rgb(134, 38, 23)
}

.comments-wrapper {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.comments p {
  font-size: 0.7em;
  color: rgb(45, 45, 43);
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

label {
  margin-top: 0.25em;
  font-family: 'Bangers', fantasy;
  font-size: 1em;
  margin-left: 1em;
  color: rgb(134, 38, 23);
}

input {
  border-radius: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 80%;
}

.submit {
  color: rgb(131, 168, 207);
  border-radius: 0.25em;
  margin-bottom: 1em;
  margin-left: 1em;
  background-color: rgb(45, 45, 43);
  width: 100%;
  border:none;
}

#alert {
  margin-top: -1em;
  color: rgb(134, 38, 23);
  margin-left: 1em;
}

.fullsize {
  width: 93%;
}

.pfont {
  font-family: 'BenchNine', sans-serif;
}

h5 {
  font-family: 'BenchNine', sans-serif;
  font-size: 1em;
}

.names {
  margin-top: 0.5em;
  width: 20%;
  border-radius: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.names label {
  margin-left: 0.5em;
}

.names input {
  font-size: 2em;
  width: 30%;
  height: 0.5em;
}

.checks {
  margin:0;
}

.unrated {
  font-size: 2em;
  width: 30%;
  height: 0.5em;
}

#users {
  background-color: rgb(255, 255, 255);
}

.nums {
  font-size: 2em;
  width: 100%;
  height: 0.5em;
  display: inline-block;
}

#rate {
  margin-left: 0.5em;
  width: 100%;
}

#select {
  font-size: 1em;
  margin-left: 0.5em;
}

span.newgroup {
  font-size: 0.8em;
  float: right;
  font-family: 'BenchNine', sans-serif;
}

#allow {
  width: 93%;
  background-color: rgb(255, 255, 255);
}

#total {
  font-family: 'BenchNine', sans-serif;
  color: rgb(134, 38, 23);
  margin-left: 1em;
  font-size: 1em;
}

#total span {
  font-size: 1.25em;
  padding-left: 0.5em;
  color: rgb(134, 38, 23);
  font-family: 'Bangers', fantasy;
}

.comments p {
  margin-left: 1em;
}

.leadertopic {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.leadertopic a{
  font-family: 'Bangers', fantasy;
  padding-left: 1em;
  color: rgb(134, 38, 23);
}

.leadertopic span {
  padding: 1.25em;
  color: rgb(39, 85, 115);
}

.leadertopic h4 {
  font-family: 'BenchNine', sans-serif;
  margin-top: 0.5em;
}

.usertopic a {
  font-family: 'Bangers', fantasy;
  padding-left: 1em;
  color: rgb(134, 38, 23);
}

#yourrating {
  color: rgb(39, 85, 115);
}

.delete {
  width: 48%;
  float: right;
}

.edit {
  float: left;
  width: 48%;
}

.nogroups {
  background-color: rgb(45, 45, 43);
  color: rgb(131, 168, 207);
  border: none;
  font-size: 2em;
  border-radius: 1em;
  font-family: 'BenchNine', sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  margin-bottom: 1em;
}

#nogroups {
  text-align: center;
}




/*iPhone 6 styling*/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .headerlogo {
    margin-left: 16em;
    padding-right: 0;
  }

  .username p {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .row {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

/*nogroups page*/
  .content {
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
  }

  #nogroups {
    font-size: 7em;
    padding-top: 0.5em;
  }

  .nogroups {
    margin-top: 0.5em;
    font-size: 5em;
  }

/*loggedin page*/
  .newgroup {
    margin-right: 2em;
    margin-bottom: -1em;
  }

}
